body {
    margin: 5px;
    font-family: Arial, sans-serif;
}

/* Assignment 1*/

.bbc-nav {
    display: flex;
    align-items: center;
    background: #111;
    color: white;
    padding: 10px;
    gap: 20px;
    margin-bottom: 30px;
}

.bbc-nav .logo {
    font-weight: bold;
    font-size: 20px;
    background: white;
    color: black;
    padding: 3px 6px;
}

.bbc-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.bbc-nav .search-box {
    margin-left: auto;
    display: flex;
}

.search-box input {
    padding: 5px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

/* Assignment 2*/
.cnn-nav {
    display: flex;
    align-items: center;
    background: #0b0b0b;
    color: white;
    padding: 10px;
    gap: 20px;
    margin-bottom: 30px;
}

.cnn-logo {
    background: red;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
}

.cnn-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.cnn-nav .right-icons {
    margin-left: auto;
    display: flex;
    gap: 20px;
    font-size: 18px;
}



/* Assignment 3*/
.linkedin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;

    border: 1px solid black;
    margin-top: 20px;
}

.linkedin-nav .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.li-logo {
    background: #0a66c2;
    color: white;
    font-weight: bold;
    padding: 4px 9px;
    border-radius: 4px;
    font-size: 20px;
}

.linkedin-nav input {
    padding: 7px;
    width: 180px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.icons span {
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}

/* Assignment 4*/
.container4 {
    font-family: Arial, sans-serif;
    background: white;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 20px;

}

.container4 .navbar {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container4 .left,
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container4 .search-box {
    background: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #dadada;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 8px;
    color: #666;
    width: 500px;
    height: 40px;
}

.container4 img.logo {
    height: 22px;
}

.container4 .badge {
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: -10px;
    position: absolute;
    margin-top: -8px;
}

.container4 .icon-badge {
    position: relative;
}


/* Assignment 5 */

.container5 {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 20px;

}

.container5 .navbar {
    background: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container5 .left,
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container5 .search-box {
    background: #f3f3f3;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid#dadada;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #666;
    width: 500px;
}

.container5 img.logo {
    height: 26px;
}

.container5 .badge {
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: -10px;
    position: absolute;
    margin-top: -8px;
}

.container5 .icon-badge {
    position: relative;
}

/* Assignment 6 */
.container6 {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 20px;
    height: 20px;
}

.container6 .navbar {
    background: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container6 .left,
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container6 .center {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 100px;
}

.container6 .search-box {
    background: #f3f3f3;
    padding: 6px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid#dadada;
    gap: 8px;
    color: #666;
    width: 200px;
}

.container6 img.logo {
    height: 26px;
}

.container6 .badge {
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: -10px;
    position: absolute;
    margin-top: -8px;
}

.container6 .icon-badge {
    position: relative;
}

/* Assignment 7 */
.container7 {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 20px;

}

.container7 .navbar {
    background: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container7 .left,
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container7 .search-box {
    background: #f0ebeb;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid#dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #666;
    width: 500px;
}

.container7 img.logo {
    height: 26px;
}

.container7 .badge {
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: -10px;
    position: absolute;
    margin-top: -8px;
}

.container7 .icon-badge {
    position: relative;
}

/* Assignment 8 */

.container8 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5726a0;
    color: white;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
}

.container8 .navbar {
    padding: 5px;
}

.container8 .logo {
    font-size: 20px;
    font-weight: bold;
    background-color: #5726a0;
    border: 1px solid white;
    padding: 6px 8px;
    margin-left: 5px;
    border-radius: 5px;

}

.container8 a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.container8 button {
    background: #5726a0;
    color: yellow;
    border: 1px solid yellow;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

/* Assignment 9 */

.container9 {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 20px;
    height: 20px;
}

.container9 .navbar {
    background: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container9 .left,
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}


.container9 .icon-badge {
    position: relative;
}

.container9 .logo {
    width: 200px;
    height: 50px;
}